body{
	margin: 0px;
	padding: 0px;
        background-image: linear-gradient(to bottom right,#725A38, #1F12A4);
}

div{
        width: 60vw;
	margin: auto;
}
p{
    font-size: 30px;
    text-align: center;
    color:aliceblue;
}
